div#chat {
  position: relative;
}

div.chat-container {
  position: relative;
  top: 70px;
  left: 400px;
  width: 1170px;
  height: 752px;
  background-color: white;
  padding: 40px 20px;
}

div.chat-person-search {
  border: solid 1px #f1f1f3;
}

div.chat-search {
  display: flex;
  align-items: center;
}

div.chat-title-content-edit {
  position: relative;
  border: solid 1px #f1f1f3;
}

div.chat-title {
  position: relative;
  border: solid 1px #f1f1f3;
}

div.chat-title img {
  position: relative;
  float: left;
  left: 30px;
  top: 30px;
}

div.chat-title p.chat-avatar-name {
  position: relative;
  left: 50px;
  top: 35px;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 13px;
  letter-spacing: 0px;
  color: #4d4f5c;
}

div.chat-title p.chat-job {
  position: relative;
  left: 50px;
  top: 25px;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: 0px;
  color: #43425d;
  opacity: 0.5;
}

div.chat-title img.close {
  position: absolute;
  top: 35px;
  left: 700px;
}

div.chat-edit {
  position: relative;
  border: solid 1px #f1f1f3;
}

textarea.el-textarea__inner {
  width: 710px;
  height: 125px;
}
